######################
## Specific Folders ##
######################
/Packages

######################
## File Patterns    ##
######################
*.DotSettings
*.orig
*.user

######################
## Folder Patterns  ##
######################

**/bin/
**/obj/
